.main{
    min-height: 100vh;
}
.categoryGrid{
    display: grid;
    grid-template-columns: 100px auto auto 100px;
    grid-template-rows: 100px auto 100px;
    justify-items: center;
    align-items: center;
    gap:70px;
}
@media (min-width:768px) and (max-width:1024px) {
    .categoryGrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-items: center;
        gap:50px;
    }
}
@media (max-width:767px) {
    .categoryGrid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        gap:30px;
    }
}
